<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			</div>
			<div class="panel-body runner-info-body">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 runner-info-rundate runner-info">
						<h2>{{#if runner.runDate}}{{dateFromNow runner.runDate}}{{else}}Never{{/if}}</h2>
						<p>Last run</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 runner-info-client-status runner-info">
						<h2>
							{{#if connected}}
							<i class="fa fa-check-circle-o"></i>
							{{else}}
							<i class="fa fa-times"></i>
							{{/if}}
						</h2>
						<p>Client Connection</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Summary</h3>
			</div>
			<div class="panel-body runner-summary-body">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 runner-summary-total runner-summary">
						<h2 class="runner-summary-total-count">{{totalCount}}</h2>
						<p>Total</p>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 runner-summary-success runner-summary">
						<h2 class="runner-summary-succeeded-count">{{succeededCount}}</h2>
						<p>Succeeded</p>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 runner-summary-failure runner-summary">
						<h2 class="runner-summary-failed-count">{{failedCount}}</h2>
						<p >Failed</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
